<h2>FlashLang</h2>
<div>Version: 0.0.1</div>
<div>Check <a href="https://github.com/danielabar/flashlang">FlashLang out on GitHub</a></div>
<div>Developers:
	<div>Daniela Baron: <a href="https://github.com/danielabar">danielabar</a></div>
	<div>Nisha Shirawala: <a href="https://github.com/nishashirawala">nishashirawala</a></div>
	<div>Ben Hall: <a href="https://github.com/hallb">hallb</a></div>
	<div>Michelle Andrews: <a href="https://github.com/insomniacdeziner">insomniacdeziner</a></div>
	<div>Daeyoung Kang: <a href="https://github.com/kdy3dan3">kdy3dan3</a></div>
	<div>Val Fletcher: <a href="http://ca.linkedin.com/pub/dir/Val/Fletcher">Val Fletcher</a></div>
</div>
