
	<div class="row">
		<div class="span12">
			<div class="page-header">
    		<h1>Numbers <small>Advanced</small> <span class="pull-right">Score</span></h1>
			</div>
						<div class="progress">
    							<div class="bar" style="width: 60%;">1 out of 6</div>
   						 </div>
				<div class="span8 offset2 well">
   					<div class="card">
   						<h2>Question</h2>
					</div>
		    <form class="form-inline">
			    <input type="Answer" class="input-large" placeholder="Type in your answer">
			    <button type="submit" class="btn btn-primary">Sign in</button>
		    </form>
			</div>
	</div>
