
	<div class="row">
		<div class="span12 game">
			<div class="page-header clearfix">
    		<img class="thumbnail" src="img/{{deck.name}}.jpg"><h1>{{name}} <small>{{level}}</small> <small>{{deck.language}}</small>
    		<span class="pull-right">
    			<span class="label">Score: {{scoreBoard.score}} correct out of {{scoreBoard.outOf}}</span>
			</div>
				<div class="container_progress">
		     	<div class="progress progress-warning progressbar">
		      	<div class="bar" ng-style="score_percent_style" style="color:white;">{{progressBarText}}</div>  
		     	</div>
		  	</div>
		  	<i ng-show="currentCard.help" popover="{{currentCard.help}}" popover-trigger="mouseenter" class="icon-question-sign"></i>
				<div class="span8 offset2 well">
					<div class="span4 offset2">
   					<div ng-if="level === 'beginner'">
							<flashcard
								message="message"
								display="display"
								card-value="{{currentCard.translated}}"
								card-translated="{{currentCard.value}}"
								behaviour="flashCardBehaviour">
							</flashcard>
						</div>
						<div ng-if="level === 'intermediate'">
							<audiocard
								message="message"
								carddata="currentCard"
								behaviour="flashCardBehaviour">
							</audiocard>
						</div>
						<div ng-if="level === 'advanced'">
							<flashcard
								message="message"
								display="display"
								card-value="{{currentCard.value}}"
								card-translated="{{currentCard.translated}}"
								behaviour="flashCardBehaviour">
							</flashcard>
						</div>
					</div>
				<div ng-hide="flashCardBehaviour.flipCard" class="data-entry span4 offset2">
			    <form class="form-inline">
				    <input type="input" ng-model="guess" class="input-large" placeholder="Type in your answer">
				    <button type="submit" ng-click="checkGuess()" class="btn btn-primary">Check</button>
			    </form>
		  	</div>

<!-- Move to next card -->
<div ng-show="flashCardBehaviour.flipCard" class="my-feedback pull-right">
	<div class="span2">
		<button ng-click="moveAhead()" type="button" class="btn btn-info">Next</button>
	</div>
</div>

			</div>
	</div>
