<div class="row">
	<div class="span10 offset1">
	  <div class="media well" ng-repeat="deck in decks">
	  	<a class="pull-left" href="#/game/level/beginner/name/{{deck.name}}">
	  		<img class="thumbnail" src="img/{{deck.name}}.jpg">
	  	</a>
	  	<div class="media-body">
	  		<h2 class="media-heading">
	  			<a ng-href="#/game/level/beginner/name/{{deck.name}}">{{deck.name}}</a>
	  		</h2>
	  			<p>Language: <span class="label">{{deck.language}}</span></p>
	  	</div>
	  	<div class="media">
	  		<a ng-href="#/game/level/beginner/name/{{deck.name}}" class="btn btn-success">Play beginner</a>
	  		<a ng-href="#/game/level/intermediate/name/{{deck.name}}" class="btn btn-warning">Play intermediate</a>
	  		<a ng-href="#/game/level/advanced/name/{{deck.name}}" class="btn btn-danger">Play advanced</a>
	  	</div>
	  </div>
	</div>
</div>
