<div class="row">
	<div class="span10 offset1">
	  <div class="media well" ng-repeat="deck in decks">
	  	<a class="pull-left" href="#/game/level/beginner/name/{{deck.name}}">
	  		<img class="thumbnail" src="img/{{deck.name}}.jpg">
	  	</a>
	  	<div class="media-body">
	  		<h2 class="media-heading">
	  			<a ng-href="#/game/level/beginner/name/{{deck.name}}">{{deck.name}}</a>
	  		</h2>
	  			<p>Language: <span class="label">{{deck.language}}</span></p>
	  		<h4>
	  			<p>Last time you played you scored: <span class="label">{{deck.mostRecentScore.score}}</span> out of <span class="label">{{deck.mostRecentScore.outOf}}</span> 
	  			in level <span class="label">{{deck.mostRecentScore.level}}</span>
	  			</p>
	  		</h4>
	  	</div>
	  	<div class="media">
	  		<a ng-href="#/game/level/beginner/name/{{deck.name}}" class="btn btn-success">Word Recognition</a>
	  		<a ng-href="#/game/level/intermediate/name/{{deck.name}}" class="btn btn-warning">Audio Recognition</a>
	  		<a ng-href="#/game/level/advanced/name/{{deck.name}}" class="btn btn-danger">Translation</a>
	  	</div>
	  </div>
	</div>
</div>
