	<div style="float:left; margin:5px; margin-right:10px;"> Select Game :  </div> 
	<div>
		<select ng-model="scoreCard" ng-options="d.name for d in decks" ng-change="scoreCardChanged();">
		</select>
	</div>
	<div style="margin-top:10px;">
		<div style="float:left; margin:5px; margin-right:10px;"> Select Level:  </div> 
		<div>
	  		<input type="radio" ng-model="level" value="Beginner"> Beginner </input>
	  		<input type="radio" ng-model="level" value="Intermediate"> Intermediate </input>
	  		<input type="radio" ng-model="level" value="Advanced"> Advanced </input>
		</div>
	</div>
	<br/>
	<br/>

	<div id="chartView">
		<div ng-if="scoreCard.name === 'Numbers' && level === ''">
			<div id="lineChart_1" style="height: 500px; width:1000px;">				
				<angulard3-line-chart  json-Value="{{numberslineChartScore}}" linechart-Id="1">
				</angulard3-line-chart>	
			</div>
		</div>
		<div ng-if="scoreCard.name === 'Days of the Week' && level === ''">
			<div id="lineChart_1" style="height: 500px; width:1000px;">				
				<angulard3-line-chart  json-Value="{{daysOfWeeklineChartScore}}" linechart-Id="1">
				</angulard3-line-chart>	
			</div>
		</div>
		<div ng-if="scoreCard.name === 'Nouns Pluralization' && level === ''">
			<div id="lineChart_1" style="height: 500px; width:1000px;">				
				<angulard3-line-chart  json-Value="{{nounslineChartScore}}" linechart-Id="1">
				</angulard3-line-chart>	
			</div>
		</div>
		<div ng-if="scoreCard.name === 'Definite Articles' && level === ''">
			<div id="lineChart_1" style="height: 500px; width:1000px;">				
				<angulard3-line-chart  json-Value="{{articleslineChartScore}}" linechart-Id="1">
				</angulard3-line-chart>	
			</div>
		</div>
 	</div>

  

	

